{% extends 'base.html' %}
{% block container %}

<style type= 'text/css'>

body {
	color:#333;
	font-size: 14px;
}


.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link{
  stroke: #999;
  stroke-opacity: .6;
}

#os-info {
	margin-left:20px;
	margin-top:5px;
	height: 200px
	position:fixed;
	width:225px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 3px;
	border-color:white;
	background-color:rgba(251, 240, 208,0.7);
}

#scanner-running {
	margin-left:20px;
	margin-top:0px;
	text-align:left;
	padding-left:15px;
  padding-right:15px;
	height: 50px;
	position:fixed;
	width:225px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 3px;
	border-color:white;
	font-size:14px;
	background-color:rgba(40, 100, 200,0.7);
}

#services-info {
	margin-left:20px;
	margin-top:60px;
	text-align:left;
	padding-left:15px;
  padding-right:15px;
	position:fixed;
	width:225px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 3px;
	border-color:white;
	font-size:14px;
	background-color:rgba(30, 169, 125,0.7);
}

#alert-box {
	margin-left:700px;
	margin-top:-300px;
	text-align:left;
	padding-left:15px;
  padding-right:15px;
	position:fixed;
	width:500px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 3px;
	border-color:white;
	font-size:14px;
	background-color:white;
}

h1 {
	margin-top:10px;
	margin-left:10px;
	font-size:16px;
}

#square {
	width: 20px;
	height: 20px;
	margin-bottom:7px;
}


.squares{
	margin-top:23px;
	margin-left:10px;
}

</style>

<div class="container">
		<br>
		<form class="form-signin"  role="form">
		<input style="margin-left:5px;height:40px;width:225px" type="text" id="netmask" name="netmask" placeholder="Netmask">
		<br>
		<button style="margin-left:5px;height:40px;width:225px" type="button">Scan</button>
		</form>
</div>

<div id="os-info">
<div id="option">
    </div>
	<h1>Operating Systems</h1>
	<div class="squares">
		<div id="square" style="background:#FF2B1A;">
			<p style="width:90px; margin-left:30px;font-size:14px;">IPHONE</p>
		</div>
		<div id="square" style="background:#271192">
			<p style="width:90px;margin-left:30px; font-size:14px;">LINUX</p>
		</div>
		<div id="square" style = "background:#E1B594">
			<p style="width:90px; margin-left:30px; font-size:14px;">WINDOWS</p>
		</div>
		<div id="square" style = "background:#20B8FE">
			<p style="width:90px; margin-left:30px; font-size:14px;">MAC OS X</p>
		</div>
		<div id="square" style = "background:#A0B8FE">
			<p style="width:90px; margin-left:30px; font-size:14px;">OTHERS</p>
		</div>
		<!-- <div id="square" style = "background:#90B84C">
			<p style="margin-left:30px; font-size:14px;">IPHONE</p>
		</div> -->
	</div>
</div>-

<div id="services-info">
	<h1>Services Running</h1>
</div>

<div id="scanner-running">
	<h1 id = "scanner-running-h1">{{message}}</h1>
</div>

<div id="alert-box">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
			{{message}}
		{% endfor %}
	  {% endif %}
	{% endwith %}
</div>

<script>

var source = new EventSource("{{ url_for('sse.stream') }}");
source.addEventListener('greeting', function(event) {
var data = JSON.parse(event.data);
//alert("The server says " + data.message);
var messages = data.message.split(";")
if (messages[0] == "Discovered") {
var msg = "Alert! Found a new device " + messages[1] + ". Running Deep Scan"
document.getElementById("alert-box").innerHTML = "<h1 style='color: red'>"+msg+"</h1>"
scan_host(messages[1])
} else if (messages[0] == "Anomaly") {
	msg = "Anomaly detected for "+messages[1]
	msg += "<br>This device commicates with:"
	var arrayLength = messages.length
	for (index = 2; index < arrayLength; index++) {
		msg += " "+messages[index]
	}
	document.getElementById("alert-box").innerHTML = "<h1 style='color: red'>"+msg+"</h1>"
}
}, false);

function scan_host(host) {
	$.ajax({
		url: '/scan_host/' + host,
		type: 'GET',
		success: function (response){
			var task_id = response.task_id
			if (task_id !== "null") {
				checkTask(task_id, 1)
			} else {
				console.log('Calling scan_host again')
				setTimeout(function() {
					scan_host(host)
				}, 3000)
			}
		},
		error: function(error){
			console.log(error);
		}
	});
}

source.addEventListener('error', function(event) {
alert("Failed to connect to event stream. Is Redis running?");
}, false);

//d3.select("svg").remove();
//render()

function render() {

var width = 960,
    height = 500;

var force = d3.layout.force()
		.size([width, height])
    .charge(-50)
    .linkStrength(0.2)
    .linkDistance(140)

d3.json("static/json_dictionary.json", function(error, graph) {
  force
      .nodes(graph.nodes)
      .links(graph.links)
			.start();

	 var svg = d3.select("body").append("svg")
    	.attr("width", width)
    	.attr("height", height)
			.attr("align", "center");

    var link = svg.selectAll(".link")
			.data(graph.links)
    	.enter().append("line")
    	.attr("class", "link")
    	.style("stroke-width", function(d) { return Math.sqrt(d.value); });

    var node_drag = d3.behavior.drag()
        .on("dragstart", dragstart)
        .on("drag", dragmove)
        .on("dragend", dragend);

    function dragstart(d, i) {
        force.stop() // stops the force auto positioning before you start dragging
    }

    function dragmove(d, i) {
        d.px += d3.event.dx;
        d.py += d3.event.dy;
        d.x += d3.event.dx;
        d.y += d3.event.dy;
        tick(); // this is the key to make it work together with updating both px,py,x,y on d !
    }

    function dragend(d, i) {
        d.fixed = true; // of course set the node to fixed so the force doesn't include the node in its auto positioning stuff
        tick();
        force.resume();
    }

	var node = svg.selectAll("g.node")
		.data(graph.nodes)
		.enter().append("svg:g").append("circle")
		.attr("class", "node")
		.attr("r", 7)
		.attr("name", function(d) {
			return d.name;
		})
		.attr("PortService", function(d) {
			return d.PortServices;
		})
		.style("fill", function(d) {
            if (d.group === 1) {
                return "#FF2B1A";
                };
            if (d.group === 2) {
                return "#271192";
                };
            if (d.group === 3) {
                return "#E1B594";
                };
            if (d.group === 4) {
                return "#20B8FE";

                };
            if (d.group === 5) {
                return "#A0B8FE";
                };
            })
		.call(node_drag);

  force.on('tick', tick);

	function tick() {

	link.attr("x1", function(d) { return d.source.x + width/5; })
		  .attr("y1", function(d) { return d.source.y - height/3; })
		  .attr("x2", function(d) { return d.target.x + width/5; })
		  .attr("y2", function(d) { return d.target.y - height/3; });


  node.attr("cx", function(d) { return d.x + width/5; })
 			.attr("cy", function(d) { return d.y - height/3; });
    //node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
	};

	var servicesBox = d3.select(document.getElementById("services-info"))
			.append("text");

	function checkForEmptyServices(node) {

		/*
		* Takes in the D3 HTML object in the format:
		* <circle class="node" r="7" name="64:5A:04:87:30:0E portService="netbiOSssn"
		* fill = "aliceblue" cx="277.707" cy="207.75" style="fill:#537897;"></circle>
		* returns a string of text.
		*/

		var mac = node.__data__.Id
		var ports = node.__data__.PortServices
		var ip = node.__data__.IP
		var os_version = node.__data__.OSMatch

		// var os = node._data_.OSMatch

		if (ports.length === 0) {
			return "host MAC: " + mac + " " + "<p>" + "host IP: " + ip + "<p> Ports Open: None</p>";
		} else {
			console.log(ports);
			return "host MAC: " + mac + " " + "<p>" + "host IP: " + ip + "<p> Ports Open: " + "<b>" + ports.join(', ') + "<b></p>";
		}
	};

	function checkForEmptyOSMatches(node) {

		/*
		* Takes in the D3 HTML object in the format:
		* <circle class="node" r="7" name="64:5A:04:87:30:0E portService="netbiOSssn"
		* fill = "aliceblue" cx="277.707" cy="207.75" style="fill:#537897;"></circle>
		* returns a string of text.
		*/

		var name = node.__data__.name
		var os_version = node.__data__.OSMatch
		// var os = node._data_.OSMatch

		if (os_version === "") {
			return "<p>OS Version unavailable.</p>";
		} else {
			return "<p>" + os_version + "</p>";
		}
	};


	var tooltip = d3.select("body")
		.append("div")
		.style("position", "absolute")
		.style("z-index", "10")
		.style("visibility", "hidden")


	d3.selectAll(".node")
		// .append("svg:circle")
		.attr("fill", "aliceblue")
		.attr("r", 7)
		.attr("cx", 50)
		.attr("cy", 50)


		.on("mouseover", function(){
			tooltip.html(checkForEmptyOSMatches(this))
			servicesBox.append("text").html(checkForEmptyServices(this))
			return tooltip.style("visibility", "visible");}
			)

		.on("mousemove", function(){
			return tooltip.style("top", (event.pageY-10)+"px")
			.style("left",(event.pageX+10)+"px")
			.style("max-width","200px")
			.style("max-height","300px")
			.style("background-color", "rgba(163, 224, 255, 0.9)")
			.style("padding", "10px")
			.style("border-style", "solid")
			.style("border-color", "fff")
			.style("border-width", "1px")
			.style("border-radius", ".3em")
			.style("text-align", "center");})
		.on("mouseout", function(){
			return tooltip.style("visibility", "hidden"),
			servicesBox.html(" ")
		})


});
}


</script>

{% endblock %}
