{% extends 'base.html' %}
{% block container %}

<style type= 'text/css'>

body {
	color:#333;
	font-size: 14px;
}


.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link{
  stroke: #999;
  stroke-opacity: .6;
}

#os-info {
	margin-left:20px;
	margin-top:5px;
	height: 200px
	position:fixed;
	width:225px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 3px;
	border-color:white;
	background-color:rgba(251, 240, 208,0.7);
}

#scanner-running {
	margin-left:20px;
	margin-top:0px;
	text-align:left;
	padding-left:15px;
  padding-right:15px;
	height: 50px;
	position:fixed;
	width:225px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 3px;
	border-color:white;
	font-size:14px;
	background-color:rgba(40, 100, 200,0.7);
}

#services-info {
	margin-left:20px;
	margin-top:60px;
	text-align:left;
	padding-left:15px;
  padding-right:15px;
	position:fixed;
	width:225px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 3px;
	border-color:white;
	font-size:14px;
	background-color:rgba(30, 169, 125,0.7);
}

#alert-box {
	margin-left:700px;
	margin-top:-250px;
	text-align:left;
	padding-left:15px;
  padding-right:15px;
	position:fixed;
	width:500px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 3px;
	border-color:white;
	font-size:14px;
	background-color:white;
}

h1 {
	margin-top:10px;
	margin-left:10px;
	font-size:16px;
}

#square {
	width: 20px;
	height: 20px;
	margin-bottom:7px;
}


.squares{
	margin-top:23px;
	margin-left:10px;
}

</style>

<div class="container">
		<br>
		<form class="form-signin"  role="form">
		<input style="margin-left:5px;height:40px;width:225px" type="text" id="netmask" name="netmask" placeholder="Netmask">
		<br>
		<button style="margin-left:5px;height:40px;width:225px" type="button">Scan</button>
		</form>
</div>

<div id="os-info">
<div id="option">
    </div>
	<h1>Operating Systems</h1>
	<div class="squares">
		<div id="square" style="background:#271192;">
			<p style="width:90px; margin-left:30px;font-size:14px;">IoT</p>
		</div>
		<div id="square" style="background:#FF2B1A">
			<p style="width:90px;margin-left:30px; font-size:14px;">Non-IoT</p>
		</div>
		<div id="square" style = "background:#32cd32">
			<p style="width:90px; margin-left:30px; font-size:14px;">N/A</p>
		</div>
	</div>
</div>-

<div id="services-info">
	<h1>Services Running</h1>
</div>

<div id="scanner-running">
	<h1 id = "scanner-running-h1">{{message}}</h1>
</div>

<div id="alert-box">
</div>

<script>

var source = new EventSource("{{ url_for('sse.stream') }}");
source.addEventListener('greeting', function(event) {
var data = JSON.parse(event.data);
var messages = data.message.split(";")
if (messages[0] == "Discovered") {
var msg = "Alert! Found a new device " + messages[1] + ". Running Deep Scan"
document.getElementById("alert-box").innerHTML =
				"<h1 style='color: red;font-size:200%'>"+msg+"</h1>"
scan_host(messages[1])
} else if (messages[0] == "Anomaly") {
	msg = "Anomaly detected for "+messages[1]
	msg += "<br>This device communicates with:"
	var arrayLength = messages.length
	msg += " "+messages[2]
	document.getElementById("alert-box").innerHTML =
					"<h1 style='color: red;font-size:150%'>"+msg+"</h1>"
  process_anomaly(messages[1]+" "+messages[2])
} else if (messages[0] == "Compromised") {
	msg += messages[1]+" is likely Compromised"
	document.getElementById("alert-box").innerHTML =
					"<h1 style='color: red;font-size:150%'>"+msg+"</h1>"
	block_device(messages[1])
}
}, false);

source.addEventListener('error', function(event) {
alert("Failed to connect to event stream. Is Redis running?");
}, false);

</script>

{% endblock %}
